.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 70rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
  margin-top: 40px;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter-form-input{
box-sizing: border-box;
display: inline-flex;
flex-direction: row;
align-items: center;
padding: 10px 24px;
gap: 10px;
width: 100%;
height: 53px;
background-color: transparent;
border: 1px solid rgba(var(--color-foreground), 0.2);
border-radius: 12px;
color: rgb(var(--color-foreground));
 
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
letter-spacing: 0.01em;
}
.newsletter-form-input::placeholder{
  color: rgb(var(--color-foreground));
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: center;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}



@media screen and (max-width: 750px) {

.newsletter-form-group {
    flex-direction: column;
}

.newsletter-form-group .button{
  width: 100%;
}


}