.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0 calc(6.4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
    margin: 0 0 0.8rem;
}

.collection-hero__title + .collection-hero__description {
margin-bottom: 1.5rem;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0.01em;
 
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
      max-width: 452px;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}
  
@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }

   
}





.collection-hero__menu{
  list-style: none;
  padding: 0;
  margin-top: 32px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  overflow-x: auto;
}


.collection-hero__menu::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.collection-hero__menu li {
  flex: 0 0 auto;
}
.collection-hero__menu li a{
  /* Shop Ctg Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 20px;
gap: 10px;

 
height: 37px;

/* Border/border-6 */
border: 1px solid rgb(var(--color-border));
border-radius: 14px;
text-decoration: none;
 

/* Text/text-6 */
color: #1C1B18;

 

}
.collection-hero__menu li a:hover{
  border: 1px solid rgb(var(--color-accent));
}
.collection-hero__menu li a.active{
  border: 1px solid rgb(var(--color-accent));
}

.mobile-facets__open-label{
 
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
/* or 18px */
letter-spacing: -0.04em;

/* Text/text-6 */
color: #1C1B18;

 

}
@media screen and (max-width: 768px) {
.collection-hero__menu{
  flex-wrap: nowrap;
}
.collection-hero__menu {
    margin-top: 24px;
    gap: 8px;
}
.collection-hero__menu li a {
    padding: 4px 12px;
}

}