
.running-content-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: block;
  }
  
  .marquee-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
  }
  
  .marquee-item {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: 0;
    white-space: nowrap;
    gap: 0;
  }
  
  .running-content-item {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    text-align: center;
  }
  
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  .marquee__items--animate {
    will-change: transform;
    -webkit-animation: scroll var(--marquee-duration) linear infinite;
    animation: scroll var(--marquee-duration) linear infinite;
  }
  
  .animation-pause .marquee__items--animate,
  .marquee--animation-pause:hover .marquee__items--animate {
    animation-play-state: paused;
  }
  
  .marquee--animation-direction {
    animation-direction: initial;
  }
  
  .marquee--animation-reverse {
    animation-direction: reverse;
  }
  
  .running-content {
    padding-inline: 0;
  }
  
  

.running-content__img img,
.rte .running-content__img img{
    max-width: 40px;
    box-shadow: none;
    margin: 0;
    border: 0;

  }